div {
  background: lightgray;
  display: inline-block;
  padding: 50px;
}

body {
  padding-top: 50px;
  text-align: center;
  background: rgb(244, 244, 244);
  font-family: 'Lato';
}

h1 {
  color: rgb(75, 75, 200);
  font-weight: 300;
}
