div {
  display: inline-block;
  padding: 50px;
}

body {
  padding-top: 50px;
  text-align: left;
  background: rgb(244, 244, 244);
  font-family: 'Lato';
}

h1 {
  color: rgb(209, 96, 61);
  font-weight: 900;
  text-align: left;
  font-size: 2.5em;
}
